<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="http://sunlightinabox.com/leadsquared/Admin/font-awesome.min.css" >
  <link rel="stylesheet" href="http://sunlightinabox.com/leadsquared/Admin/bootstrap.min.css" media="screen">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
   

	   

  </head>
<body >


    <div style="color: #747474; font-size: 10px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
        <div  style=" padding-right: 15px; padding-left: 15px;  ">
          <div  style=" margin-right: -15px;">
            <div  style=" min-height: 0.01%; ">
              
              <div ><img src="http://sunlightinabox.com/ornate-sharing/ornate_perfoma_invoice/Capture1.PNG">    </div>
              <table    style="border:none;">
                <thead>
       <td colspan="2" type="hidden" style = "color:#ee8133;"></td> 
       <td  type="hidden" style = "color:#ee8133;"><b> <span ><b>PROFORMA INVOICE NO.: </b> &nbsp;&nbsp; OSPL-2021-0 </span>  </b></td> 
       <td  type="hidden" style = "color:#ee8133;"><b> <span ><b> INVOICE DATE:    </b> &nbsp;&nbsp; OSPL-2021-0 </span> </b></td>
       
       </thead>	
         </table>



         
              <table  >
                <tbody>
                    <tr style=" width: 1300px;  padding: 2px;  border-top: 1px solid rgb(221, 221, 221);"></tr>
                  <tr>
                    <td >
                      <div  style=" min-height: 1px;  padding-left: 5px; float: left; ">
                        <h6 style=" color: rgb(238, 129, 51); font-size: 12px; font-family: inherit; font-weight: 500; line-height: 1.1; margin-top: 10px; margin-bottom: 10px;">SELLER</h6>
                        <address style=" margin-bottom: 20px; font-style: normal; line-height: 1.42857;">
                          <span style=" font-weight: 700;">{{seller}}</span>
                          <br><br>G-14, Arunachal Building, Barakhamba Road
                          <br >Delhi
                          <br >110001
                          <br >GSTN :07AAACO2237Q1Z6
                          <br >Name :Varun Raj
                          <br >Phone :9953637462
                          <br >Email :varun.raj@ornatesolar.com
                        </address>
                      </div>
                    </td>
                    <td >
                        <div  style=" min-height: 1px;  padding-left: 5px; float: left; ">
                          <h6 style=" color: rgb(238, 129, 51); font-size: 12px; font-family: inherit; font-weight: 500; line-height: 1.1; margin-top: 10px; margin-bottom: 10px;">BUYER</h6>
                          <address style=" margin-bottom: 20px; font-style: normal; line-height: 1.42857;">
                            <span style=" font-weight: 700;">Ornate Agencies Pvt. Ltd</span>
                            <br><br>G-14, Arunachal Building, Barakhamba Road
                            <br >Delhi
                            <br >110001
                            <br >GSTN :07AAACO2237Q1Z6
                            <br >Name :Varun Raj
                            <br >Phone :9953637462
                            <br >Email :varun.raj@ornatesolar.com
                          </address>
                        </div>
                      </td>
                      <td >
                        <div  style=" min-height: 1px;  padding-left: 5px; float: left; ">
                          <h6 style=" color: rgb(238, 129, 51); font-size: 12px; font-family: inherit; font-weight: 500; line-height: 1.1; margin-top: 10px; margin-bottom: 10px;">CONSIGNEE</h6>
                          <address style=" margin-bottom: 20px; font-style: normal; line-height: 1.42857;">
                            <span style=" font-weight: 700;">Ornate Agencies Pvt. Ltd</span>
                            <br><br>G-14, Arunachal Building, Barakhamba Road
                            <br >Delhi
                            <br >110001
                            <br >GSTN :07AAACO2237Q1Z6
                            <br >Name :Varun Raj
                            <br >Phone :9953637462
                            <br >Email :varun.raj@ornatesolar.com
                          </address>
                        </div>
                      </td>
                  </tr>
                </tbody>
              </table>
              
              
    
    
        <table  style="border-spacing: 0px; border-collapse: collapse; background-color: transparent; width: 1300px; max-width: 100%; margin-bottom: 20px;">
          <thead >
            <tr >
              <th style=" color: #ee8133; padding: 8px; text-align: center; line-height: 1.42857;  border-bottom: 2px solid #dddddd;">COMPANY</th>
              <th style=" color: #ee8133; padding: 8px; text-align: center; line-height: 1.42857;  border-bottom: 2px solid #dddddd;">RATING</th>
              <th style=" color: #ee8133; padding: 8px; text-align: center; line-height: 1.42857;  border-bottom: 2px solid #dddddd;">DESCRIPTION</th>
              <th style=" color: #ee8133; padding: 8px; text-align: center; line-height: 1.42857;  border-bottom: 2px solid #dddddd;">PRICE/UNIT (INR)</th>
              <th style=" color: #ee8133; padding: 8px; text-align: center; line-height: 1.42857;  border-bottom: 2px solid #dddddd;">QUANTITY</th>
              <th style=" color: #ee8133; padding: 8px; text-align: center; line-height: 1.42857;  border-bottom: 2px solid #dddddd;">TOTAL AMOUNT</th>
            </tr>
          </thead>
          <tbody >
            <tr style=" background-color: #f9f9f9;">
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center; line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >Fronius Symo</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center; line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >27.0-3-S Lite (3 phase)</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >Fronius Eco 25.0-3-S Lite (3 phase)</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >138000</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >6</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >828000</td>
            </tr>
            <tr >
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >Fronius Symo</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >27.0-3-S Full (3 phase)</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >Fronius Eco 27.0-3-S Full (3 phase)</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >145000</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >1</td>
              <td style=" padding: 8px; overflow-wrap: break-word; text-align: center;  line-height: 1; vertical-align: top; border-top: 1px solid #dddddd;" >145000</td>
            </tr>
 
          </tbody>
        </table>
    
    
    <table>
       <tr>
         <td>
      <div  style=" min-height: 1px; padding-right: 5px; padding-left: 5px; float: left; width: 650px;">
        <p style=" margin: 0px 0px 10px;">BANK DETAILS</p>
        <p  style=" color: #777777;  padding: 9px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 3px; ">Company Name: Ornate Agencies Pvt. Ltd. 
          <br>Address: G-14, Arunachal Building, Barakhamba Road, New Delhi 110001 
          <br >Bank Name: HDFC Bank Ltd. 
          <br>Account Name: Ornate Agencies Pvt. Ltd. 
          <br>Account Number: 05032320001907 
          <br>IFSC Code: HDFC0000503 
          <br>CIN: U40300DL1998PTC191118 
          <br>
        </p>
      </div>
      </td>
           <td>
      <div  style=" min-height: 1px; padding-right: 5px; padding-left: 5px; float: left; width: 650px;">
        <p  style=" font-size: 21px; margin: 0px 0px 20px; line-height: 1.4;"></p>
        <div  style=" min-height: 0.01%; overflow-x: auto;">
          <table  style="border-spacing: 0px; border-collapse: collapse; background-color: transparent; width: 650px; max-width: 100%; margin-bottom: 20px;">
            <tbody >
              <tr >
                <th style=" padding: 8px; text-align: left; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">
                  CUSTOMES CLEARANCE
                </th>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);"></td>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">0</td>
              </tr>
              <tr >
                <th style=" padding: 8px; text-align: left; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">FREIGHT</th>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);"></td>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">0</td>
              </tr>
              <tr >
                <th style=" padding: 8px; text-align: left; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">DUTIES &amp; TAXES</th>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);"></td>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">54750</td>
              </tr>
              <tr >
                <th style=" color: rgb(238, 129, 51); padding: 8px; text-align: left; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">TOTAL AMOUNT</th>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);"></td>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">1149750</td>
              </tr>
              <tr >
                <th style=" padding: 8px; text-align: left; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">ADVANCE RECEIVED</th>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);"></td>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">0</td>
              </tr>
              <tr >
                <th style=" color: rgb(238, 129, 51); padding: 8px; text-align: left; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">BALANCE DUE</th>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);"></td>
                <td style=" padding: 8px; overflow-wrap: break-word; line-height: 1;  border-top: 1px solid rgb(221, 221, 221);">1149750</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </td>
      </tr>
    </table>
    
           <p >
      <span style="font-weight: 700;">SCOPE OF SUPPLY</span>
    </p>
    <p >This Proforma Invoice defines the value of the supplies, delivery terms, payment terms and other terms and conditions for the supply to Nexug Industries Private Limited - at their request - for the above 
      mention material through their Authorized Distributors M/s Ornate Agencies Pvt. Ltd.
    </p>
    <p >This Proforma Invoice and the terms and conditions mentioned herewith supersede any and all prior quotes/ purchase orders/ offers made in respect of this transaction and shall be treated as the final document governing the transaction and the settlement of any dispute which may arise in respect of the same. The contents of this document should be considered to be confidential and should not be disclosed to third parties without prior, express written agreement.</p>
    <p >
      <span style="font-weight: 700;">PAYMENT TERMS</span>
    </p>
    <p >100% Advance Before Dispatch.</p>
    <p >
      <span style="  font-weight: 700;">DELIVERY TERMS</span>
    </p>
    <p>The above prices are ex_warehouse prices where in the material would be supplied to the Buyer from the Delhi warehouse All charges levied by the Shipping Line post arrival of the shipment at port including Customs clearance and CFS charges upto warehouse are included in the above quoted price. Transit Insurance is under the purview of the Buyer.</p>
    <p >
      <span style=" font-weight: 700;">OTHER TERMS &amp; CONDITIONS</span>
    </p>
    <p >Taxes will be payable by the buyer at the rate prevailing at the time of invoicing of the goods.</p>
    <p >Road Permit and/or any documentation required for transport of the goods to the Buyers Site shall be provided by the Buyer. Any octroi or entry tax levied by local governments shall be paid extra at actuals by the Buyer</p>
    <p >In case the terms of delivery agreed are Delivered to site in that case Freight Charges from the Supplier's Warehouse to the Buyers Site shall be paid by the Supplier and the same is included in the above quoted price. However if the terms of Delivery are Ex-Warehouse, the transportation is in the scope of the Buyer additionally.</p>
    <p >Transit Insurance is in the purview of the Buyer</p>
    <p >The assumed exchange rate for the terms of this contract is taken at Rs. 74 / USD</p>
    <p >The Buyer explicitly agrees that on cancellation of his order, he shall forfeit his right to the advance amount paid and/ or the Advance amount paid shall be refunded after suitable deduction by the Supplier to the extent of the expenses incurred in the facilitation of the Buyer's ordered quantity</p>
    <p >The rates quoted in this PI are valid for a period of 10 days from the date of the Proforma Invoice and shall not be applicable in the absence of an advance amount having been received in confirmation of the ordered quantity by the Buyer prior to the last intimated date for the receipt of payment as as per Supplier's mentioned offer</p>
    <p >Unexpected events such as force majeure, change of financial conditions, changes in the contents of the provisions which considerably affect the supply to be executed, in 
      particluar Foreign 
      exhange fluctuations in the USD-rupee exchange rate and devaluation of the rupee beyond 1% as evidenced from the website of the Reserve Bank of India www.rbi.org.in in addition to Buyer non payments, gives the Supplier the right to totally or partially cancel/ amend the contract, simply by written notification with no obligation to pay compensation.
    </p>
    <p >This Proforma Invoice and the transaction between the Buyer and the Supplier shall be subject to the laws of India &amp; 
      juridisction of the courts of Delhi shall apply in the settlement of any Dispute arising with respect to the same
    </p>
    <p ></p>
    <p >
      <span style=" font-weight: 700;">WARRANTY TERMS &amp; CONDITIONS</span>
    </p>
    <p >Limited Warranty Statement shall be applicable for the resolution of any warranty concern raised by the buyer.</p>
    
    <table    style="border:none;" >
        <thead>
<td style="text-align: left;" > <b> Nexug Industries Private Limited </b>
<br>
<br>
<br>
<br>Authorised Signatory
</td> 
<td style="text-align: right;"> <b> Ornate Agencies Pvt. Ltd</b>
    <br>
    <br>
    <br>
    <br>Authorised Signatory
</td> 

</thead>	
 </table>
              
              
            </div>
      
          </div>
        </div>
      
      </div>

</body>
</html>

